vendor/**/tests
vendor/**/.gitignore
vendor/**/*.md
vendor/**/.php_cs
vendor/**/.gitattributes
vendor/**/.github
vendor/**/.editorconfig
vendor/**/phpunit.xml*
vendor/**/phpcs.xml*
vendor/**/composer.json
vendor/**/composer.lock
/tests/UI/processed-ui-screenshots/
/vue/dist/demo.html
/vue/dist/*.umd.js
/vue/dist/*.common.js
/vue/dist/*.map
/vue/dist/*.development.*
/vue/node_modules/
/tmp/specs/*
!/tmp/specs/.gitkeep
/tmp/annotations/*
!/tmp/annotations/.gitkeep
/tmp/responses/*
!/tmp/responses/.gitkeep
