.swaggerMount .swagger-ui .opblock-tag {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.swaggerMount .swagger-ui {
    --matomo-swagger-get-main: var(--theme-color-link, #3152A0);
    --matomo-swagger-get-background: color-mix(in srgb, var(--matomo-swagger-get-main) 9%, var(--theme-color-background-contrast, #fff));
    --matomo-swagger-get-header-background: color-mix(in srgb, var(--matomo-swagger-get-background) 76%, var(--theme-color-background-contrast, #fff));
    --matomo-swagger-post-main: var(--theme-color-brand, #35C4C4);
    --matomo-swagger-post-background: color-mix(in srgb, var(--matomo-swagger-post-main) 9%, var(--theme-color-background-contrast, #fff));
    --matomo-swagger-post-header-background: color-mix(in srgb, var(--matomo-swagger-post-background) 76%, var(--theme-color-background-contrast, #fff));
    --matomo-swagger-panel-background: var(--theme-color-background-contrast, #fff);
    --matomo-swagger-panel-background-muted: var(--theme-color-background-tinyContrast, #f2f2f2);
    --matomo-swagger-border: var(--theme-color-border, #ecf0f2);
    --matomo-swagger-text: var(--theme-color-text, #3b4151);
    --matomo-swagger-text-contrast: var(--theme-color-text-contrast, #3b4151);
    --matomo-swagger-link: var(--theme-color-link, #3152A0);
    --matomo-swagger-code: var(--theme-color-code, #A93552);
    --matomo-swagger-code-background: var(--theme-color-code-background, rgba(0, 0, 0, 0.05));
    border: 1px solid var(--matomo-swagger-border);
    border-radius: 5px;
    color: var(--matomo-swagger-text);
    font-family: var(--theme-fontFamily-base, sans-serif);
    font-size: 14px;
    line-height: 1.4;
    padding-top: 10px;
}

.swaggerMount .swagger-ui *:not([class^="icon-"]):not([class*=" icon-"]) {
    font-family: inherit;
}

.swaggerMount .swagger-ui :is(code, kbd, pre, samp), .swagger-ui .opblock-summary-path   {
    font-family: monospace, monospace !important;
}

.swagger-ui .opblock-summary-path {
    font-weight: 500 !important;
    font-size: 15px !important;
}

.swaggerMount .swagger-ui input,
.swaggerMount .swagger-ui select,
.swaggerMount .swagger-ui textarea,
.swaggerMount .swagger-ui button {
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: inherit;
    margin: 0;
    text-transform: none;
}

.swaggerMount .swagger-ui input,
.swaggerMount .swagger-ui select,
.swaggerMount .swagger-ui textarea {
    background-image: none;
}

.swaggerMount .swagger-ui select {
    max-width: 340px;
}



.swaggerMount .swagger-ui .information-container,
.swaggerMount .swagger-ui .scheme-container {
    display: none;
}

.swaggerMount .swagger-ui .opblock-description-wrapper,
.swaggerMount .swagger-ui .opblock-description-wrapper p,
.swaggerMount .swagger-ui .opblock-description-wrapper li,
.swaggerMount .swagger-ui .opblock-external-docs-wrapper,
.swaggerMount .swagger-ui .opblock-external-docs-wrapper p {
    line-height: 1.6;
}

.swaggerMount .swagger-ui .opblock-tag > small,
.swaggerMount .swagger-ui .opblock-tag > small p,
.swaggerMount .swagger-ui .opblock-tag > small li,
.swaggerMount .swagger-ui .opblock-tag .renderedMarkdown,
.swaggerMount .swagger-ui .opblock-tag .renderedMarkdown p,
.swaggerMount .swagger-ui .opblock-tag .renderedMarkdown li {
    line-height: 1.6;
}

.swaggerMount .swagger-ui .opblock-description-wrapper code,
.swaggerMount .swagger-ui .opblock-external-docs-wrapper code,
.swaggerMount .swagger-ui .opblock-tag > small code,
.swaggerMount .swagger-ui .opblock-tag .renderedMarkdown code,
.swaggerMount .swagger-ui .markdown code,
.swaggerMount .swagger-ui .renderedMarkdown code {
    background-color: var(--matomo-swagger-code-background);
    color: var(--matomo-swagger-code) !important;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 5px;
}

.swaggerMount .swagger-ui a {
    color: var(--matomo-swagger-link);
}

.swaggerMount .swagger-ui .opblock.opblock-get {
    background: var(--matomo-swagger-get-background);
    border-color: var(--matomo-swagger-get-main);
}



.swaggerMount .swagger-ui .opblock.opblock-get .opblock-summary,
.swaggerMount .swagger-ui .opblock.opblock-get .opblock-section-header,
.swaggerMount .swagger-ui .opblock.opblock-get .opblock-body > .opblock-description-wrapper,
.swaggerMount .swagger-ui .opblock.opblock-get .opblock-body > .opblock-title_normal {
    border-color: var(--matomo-swagger-get-main);
}

.swaggerMount .swagger-ui .opblock.opblock-get .opblock-section-header {
    background: var(--matomo-swagger-get-header-background);
}

.swaggerMount .swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: var(--matomo-swagger-get-main);
    font-weight: 500 !important;
}

.swaggerMount .swagger-ui .opblock.opblock-post {
    background: var(--matomo-swagger-post-background);
    border-color: var(--matomo-swagger-post-main);
}

.swaggerMount .swagger-ui .opblock.opblock-post .opblock-summary,
.swaggerMount .swagger-ui .opblock.opblock-post .opblock-section-header,
.swaggerMount .swagger-ui .opblock.opblock-post .opblock-body > .opblock-description-wrapper,
.swaggerMount .swagger-ui .opblock.opblock-post .opblock-body > .opblock-title_normal {
    border-color: var(--matomo-swagger-post-main);
}

.swaggerMount .swagger-ui .opblock.opblock-post .opblock-section-header {
    background: var(--matomo-swagger-post-header-background);
}

.swaggerMount .swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: var(--matomo-swagger-post-main);
}

.swaggerMount .swagger-ui .authorization__btn {
    display: none;
}

.swaggerMount .swagger-ui .try-out__btn {
    background: transparent;
    color: var(--theme-color-text) !important;
}

.swaggerMount .swagger-ui .copy-to-clipboard {
    background: transparent;
    border: 0;
}

.swaggerMount .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard,
.swaggerMount .swagger-ui .opblock .opblock-summary:hover .view-line-link.copy-to-clipboard {
    align-items: center;
    border-radius: 3px;
    color: var(--theme-color-text-light, #646464);
    display: inline-flex;
    height: 24px;
    justify-content: center;
    margin: 0;
    transition: background-color 300ms ease, color 300ms ease, opacity 300ms ease;
    width: 24px;
}

.swaggerMount .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard:is(:hover, :focus) {
    color: var(--theme-color-text-contrast, #37474f);
}

.swaggerMount .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard.matomo-copy-success {
    color: var(--theme-color-brand, #43a047);
}

.swaggerMount .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard .matomo-copy-success-icon {
    animation: matomo-copy-success-icon-in 300ms ease;
}

.swaggerMount .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard .icon-content-copy,
.swaggerMount .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard .matomo-copy-success-icon {
    font-size: 16px;
    line-height: 1;
}

.swaggerMount .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard.matomo-copy-reset > * {
    animation: matomo-copy-original-icon-in 300ms ease;
}

@keyframes matomo-copy-success-icon-in {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes matomo-copy-original-icon-in {
    from {
        opacity: 0;
        transform: scale(1.15);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.swaggerMount .swagger-ui .opblock-tag > a.nostyle {
    order: 1;
}

.swaggerMount .swagger-ui .opblock-tag > button.expand-operation {
    margin-left: auto;
    order: 2;
}

.swaggerMount .swagger-ui .opblock-tag > small {
    flex-basis: 100%;
    margin-top: 6px;
    order: 3;
}


.swaggerMount .swagger-ui section {
    margin-top: 0px !important;
}

.swaggerMount .swagger-ui .opblock-tag-section.matomo-flat-tag {
    margin-bottom: 16px;
}

.swaggerMount .swagger-ui .opblock-tag-section.matomo-flat-tag > .opblock-tag {
    cursor: default;
    padding-right: 0;
}

.swaggerMount .swagger-ui .opblock-tag-section.matomo-flat-tag > .opblock-tag:hover {
    background: inherit;
}

.swaggerMount .swagger-ui .opblock-tag-section.matomo-flat-tag > .opblock-tag > small {
    cursor: text;
}

.swaggerMount .swagger-ui .opblock-tag-section.matomo-flat-tag > .opblock-tag a {
    display: none;
}

.swaggerMount .swagger-ui .opblock-tag-section.matomo-flat-tag > .opblock-tag .expand-operation {
    display: none;
}

.swaggerMount .swagger-ui .parameters-col_description {
    font-size: 14px;
}

.swaggerMount .swagger-ui .info .title small pre.version {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    display: inline;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    word-break: normal;
    word-wrap: normal;
}
